<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="title">
            <ion-icon name="navigate"></ion-icon>
            Geolocation
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="container">
    <ion-card>
        <ion-card-header>

            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>Resumen del Application</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Application para tomar foto con el opcione de Geolocation, Ademas para ver una lista de fotos
        </ion-card-content>
        <div>
            <ion-button color="medium" routerLink="foto">Tomar Foto</ion-button>
            <ion-button color="medium" routerLink="list">Check List</ion-button>
        </div>
    </ion-card>